body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
#shell {
	position: relative;
	width: 90%;
	min-width: 400px;
	margin-right: auto;
	margin-left: auto;
}
.dragg {
	width:150px;
	padding: 5px;
	background-color: #666;
	text-align: center;
}
.drop-zone {
	position: absolute;
	top:50%;
	right:0px;
	width: 200px;
	height: 200px;
	background-color: #333;
	color:#fff;
	text-align: center;
}

